body {
    background-color: ivory;
}

nav {
    float: right;
    background-color: blue;
}

li {
    list-style: none;
    display: inline;
}

header {
    margin: 0 auto;
    display: block;
    box-sizing: content-box;
}

